.page-selector{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 15px;
}
.pages-list{
    margin-right: 10px;
    list-style-type: none;
}

.pages-list li:hover{
    text-decoration: underline
}
.pages-list li:not(:last-child){
    margin-right: 10px;
}

.pages-button{
    padding: 10px 0px 10px 10px;
    border-left: 1px solid black;
    font-weight: bold;
}

.pages-button:hover{
    font-weight: bold;
}

.nav div{
    cursor: pointer;
}
#main-wrapper{
    margin-top: 4.0rem;
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
}

.page-size{
    margin: 0 auto;
    max-width: 42em;
    padding: 20px;
}

/* thigns that need to be global */
/* .apple-font{
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
} */



