/* **********************************************************************
This is the styling for all blog posts within the <article> tag 
all pages on /blog use this

This css file is loaded and launched alongside the style.css file so we need 
to specify article in front of all these tags. Later on I can implement scss 
as putting `article` in front of all is redudant
***********************************************************************/

article h3{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    /* padding-bottom: 15px; */
    /* border-bottom: 1px solid #4242; */
}
article h2{
    margin-bottom: 2.5rem;
    padding-bottom: 15px;

    border-bottom: 1px solid #4242;


}
article .article-tag{
    text-decoration: none;
}
article p a{
    text-decoration: underline;
    /* color: black; */
    transition: all .2s;
}

article p a:hover{
    color: black;
}

article blockquote {
    border-left: 4px solid #bcc2cc;
    margin: 0;
    padding-left: 30px;
    color: black;
    font-weight: 500;
    /* font-style: italic; */
    margin-top: 40px;
    margin-bottom: 40px;
}

article .article-tag{
    font-size: 1rem;
    padding: 5px;
    background-color: #efefef;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

article .article-tag:first-child{
    margin-left: 0px;

}

article h2 {
    margin-top: 50px;
}

article p{
    font-family: 'IBM Plex Mono';
    color: #424242;
    line-height: 2.0rem;
}
article em{
    font-weight: 500;
}
article ol{
    font-family: 'IBM Plex Mono';
    line-height: 2rem;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;;
}


article ul a{
    text-decoration: underline;
}

article ul{
    font-family: 'IBM Plex Mono';
    color : #272727;
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    line-height: 2rem;
    /* font-weight: 500; */
}

article .image-wrapper img{
    border-radius: 5px;
}
article ul ul{
    margin-left: 75px;
}
article{
    width: 90%;
    cursor: default;
    font-size: 1rem;


}
article ul li::before{
    content: "–";
    margin-right: 1.5rem;
    color : #c7c7c7;
}

article .article-details{
    margin-top: 15px;
    margin-bottom: 25px;
}

article .blog-header{
    margin-bottom: 4rem;
    margin-top: 3rem;

}
article .article-title{
    color: black;
    font-size: 2rem;
    margin-bottom: 1rem;
}

article code{
    /* color: red; */
    background-color: #efefef;
    padding: 2px 5px;
    border-radius: 5px;

}

